################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/c++/exploit/inject_dll/InjectDll/Release/InjectDll.tlog
