################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/c++/exploit/inject_dll/InjectDll/Release/InjectDll.tlog
/c++/exploit/inject_dll/ipch/INJECTDLL-6923afc0
/c++/exploit/inject_dll/myhack/Release/myhack.tlog
/c++/exploit/inject_dll/Release
/c++/exploit/inject_dll/InjectDll.VC.VC.opendb
/c++/exploit/inject_dll/InjectDll.VC.db
